
\.classpath

\.project

\.settings/

*.class
/target/

*.iml

\.idea/

.gradle
src/test/resources/MyApplication/app/build/outputs/apk/release/output\.json

src/test/resources/MyApplication/app/build/outputs/apk/debug/output\.json

src/test/resources/MyApplication/app/build/outputs/apk/release/app-release-unsigned\.apk

src/test/resources/MyApplication/app/build/outputs/logs/manifest-merger-release-report\.txt

src/test/resources/MyApplication/app/build/outputs/logs/manifest-merger-debug-report\.txt

infer-out/

eclipse-java-google-style.xml

.DS_Store

src/test/resources/DemoProjectNpm/package-lock.json
